.container-fluid{
	margin-top: 30px;
}
.table{
	background-color: white;
}
.table tr th{
	text-align: center;
}
#table_body td{
	text-align: center;
}
.btn-add{
	float: right;
	margin-bottom: 20px;
}
.required-class{
	color: red;
}
.data-unavailable{
	text-align: center;
	color: red;
}